/target/
/build/
*.obj
*.o
/examples/*.exe
/examples/**/*.exe
/examples/*/build/
/examples/**/build/cache/
/.ryn/
/examples/*/.ryn/
/selfhost/build/
/selfhost/**/build/
/selfhost/.ryn/
/selfhost/**/.ryn/
